.product-item {
  padding: 30px;
}
.product_item:hover .cp_img {
  top: -40px;
}

.product-item .btn-action {
  position: absolute;
  width: 100%;
  bottom: -40px;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.btn-action a {
  background-color: #7ab730;
  border: 0;
}
.btn-action a:hover {
  background-color: #212121;
}
.btn-action a:active {
  background-color: #212121;
  transform: translateY(3px);
}
.product-item:hover .btn-action {
  bottom: -20px;
  opacity: 1;
}

.product_item:hover .cp_img img {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.product_item:hover .cp_img .hover {
  display: block;
}

.product_item .cp_img {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.product_item .cp_img img {
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}

.product_item .cp_img .hover {
  display: none;
  text-align: center;
  margin-top: 10px;
}

.product_item .product_details {
  padding-top: 110%;
  text-align: center;
  margin-top: 18%;
  font-size: 1.5rem;
  cursor: pointer;
}

.product_item .product_details .product_price {
  margin: 0;
}

.product_item .product_details .product_price li {
  display: inline-block;
  padding: 0 10px;
}

.product_item .product_details .product_price .new_price {
  font-weight: 600;
  font-size: 1rem;
  color: #212121;
  text-align: left;
}

.card {
  background: #fff;
  margin-bottom: 30px;
  transition: 0.5s;
  border: 0;
  border-radius: 0.55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.card .body {
  font-size: 14px;
  color: #424242;
  padding: 20px;
  font-weight: 400;
}
/*/****************************************************************/
/********** Template CSS **********/
:root {
  --primary: #7ab730;
  --secondary: #ffd33c;
  --light: #f3f3f3;
  --dark: #212121;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: inherit;
  margin-left: 0;
}

.btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.5s;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 0;
  border-radius: 0;
  z-index: 99;
}
/***************************************/
/* SPINNER  */
.loder-container {
  text-align: center;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translateY(50%);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #212121;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
