<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shop in style</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        With this shop hompeage template
      </p>
    </div>
  </div>
</header>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row clearfix" *ngIf="isLoaded; else notLoaded">
      <div class="pb-5 col-lg-3 col-md-4 col-sm-12" *ngFor="let pro of result">
        <div
          class="card product_item product-item position-relative bg-light d-flex flex-column text-center"
        >
          <div class="cp_img mb-4" routerLink="/products/{{ pro._id }}">
            <img class="img-fluid" src="{{ imgURL }}{{ pro.image }}" alt="" />
          </div>

          <div class="product_details">
            <h5 class="text-uppercase" routerLink="/products/{{ pro._id }}">
              {{ pro.name }}
            </h5>
            <ul class="product_price list-unstyled">
              <li class="new_price">{{ pro.price }} EGP</li>
            </ul>
          </div>

          <div
            class="btn-action d-flex justify-content-center"
            (click)="addToCartbtn(pro._id)"
          >
            <a class="btn btn-primary py-2 px-3"
              ><i class="bi bi-cart"></i>ADD TO CART</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notLoaded class="loder-container">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>
