<!-- Product details -->
<section *ngIf="isLoaded; else notLoaded" class="pro-container">
  <div class="alert alert-danger" *ngIf="!result; else pro">
    product not found
  </div>
  <ng-template #pro>
    <div class="card-wrapper">
      <div class="card">
        <!-- card left -->
        <div class="product-imgs">
          <img src="{{ imgURL }}{{ result?.image }}" />
        </div>
        <div class="img-select">
          <div class="img-item"></div>
          <!-- card right -->
          <div class="product-content">
            <h2 class="product-title">{{ result?.name }}</h2>
            <!--  -->

            <div class="product-price">
              <p class="new-price">
                <span>{{ result?.price }} EGP</span>
              </p>
            </div>

            <div class="product-detail">
              <p>
                {{ result?.description }}
              </p>

              <ul>
                <li>Available: <span>in stock</span></li>
                <li>Shipping Area: <span>All over Egypt</span></li>
              </ul>
            </div>

            <div class="purchase-info">
              <input
                type="number"
                min="1"
                value="1"
                name="quantity"
                #quantity
                (input)="getQuantity(quantity.value)"
              />
              <button
                type="button"
                class="btn"
                (click)="addToCart(result?._id, quantity.value)"
              >
                Add to Cart <i class="fas fa-shopping-cart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</section>
<!-- /Product details -->

<ng-template #notLoaded class="loder-container">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>
