<footer class="">
  <div class="container">
    <div class="row gx-0 py-5">
      <!-- CONTACT INFO -->
      <div class="col-12 col-md-6 col-lg-4 contact-info">
        <h3 class="footer-title">Contact Info</h3>
        <ul class="contact-info-body p-0">
          <li>
            <i class="fa-solid fa-location-dot d-inline-block me-2"></i>
            <p class="d-inline-block">
              123 Street Market, Life Plaza, New York
            </p>
          </li>
          <li>
            <i class="fa-solid fa-phone d-inline-block me-2"></i>
            <p class="d-inline-block">987654321</p>
          </li>

          <li>
            <i class="fa-solid fa-envelope d-inline-block me-2"></i>
            <p class="d-inline-block">team@gmail.com</p>
          </li>
        </ul>
      </div>

      <div class="col-12 col-lg-4 footer-posts subscribtion float-right">
        <h3 class="subs-title footer-title">Subscribe</h3>

        <form method="post" action="#">
          <input
            type="text"
            class="contact-email"
            placeholder="Enter your mail"
            name="email"
          />
          <!-- <button type="button"></button> -->
          <a href="" class="arrow-email" value="arrow-email">
            <i class="fa-solid fa-arrow-right" value="arrow-email"></i
          ></a>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-cpyright">
    <a>&copy;2022 Developed By lorem</a>
  </div>
</footer>
